PORT = 5002
MONGO_URI= mongodb+srv://warriorgoat:justfortest@cluster0.i0dnlsn.mongodb.net/?retryWrites=true&w=majority 
MONGO_DB = Builder-Rolodex
MONGO_COLLECTION1 = users
MONGO_COLLECTION2 = entries
TOKEN_HEADER_KEY = ci_token_header_key
JWT_SECRET_KEY = CodeImmersives2023